In [6]:
import csv
import pandas as pd
import numpy as np

In [7]:
rdf = pd.read_csv('DataSources/review.csv', header = 0)

In [8]:
bdf = pd.read_csv('DataSources/yelp_usa_biz.csv', header = 0)

In [16]:
bdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77332 entries, 0 to 77331
Data columns (total 12 columns):
Unnamed: 0      77332 non-null int64
business_id     77332 non-null object
categories      77332 non-null object
name            77332 non-null object
review_count    77332 non-null int64
stars           77332 non-null float64
address         76480 non-null object
city            77332 non-null object
state           77332 non-null object
postal_code     77123 non-null object
latitude        77332 non-null float64
longitude       77332 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 7.1+ MB

In [9]:
rdf.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1.0,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6.0,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0.0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0.0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0.0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3.0,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0.0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0.0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0.0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7.0,ssoyf2_x0EQMed6fgHeMyQ

In [10]:
myrdf = rdf[['business_id','text']]

In [11]:
bdf.head()

,Unnamed: 0,business_id,categories,name,review_count,stars,address,city,state,postal_code,latitude,longitude
0,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289
1,2,gnKjwL_1w79qoiV3IC_xQQ,"SUSHI BARS, RESTAURANTS, JAPANESE",MUSASHI JAPANESE RESTAURANT,170,4.0,"10110 JOHNSTON RD, STE 15",CHARLOTTE,NC,28210,35.092564,-80.859132
2,11,1Dfx3zM-rW4n-31KeC8sJg,"RESTAURANTS, BREAKFAST & BRUNCH, MEXICAN, TACO...",TACO BELL,18,3.0,2450 E INDIAN SCHOOL RD,PHOENIX,AZ,85016,33.495194,-112.028588
3,12,5t3KVdMnFgAYmSl1wYLhmA,"BARS, NIGHTLIFE, PUBS, BARBERS, BEAUTY & SPAS,...",THE KILTED BUFFALO LANGTREE,9,3.5,"119 LANDINGS DR, STE 101",MOORESVILLE,NC,28117,35.527410,-80.868003
4,13,fweCYi8FmbJXHCqLnwuk8w,"ITALIAN, RESTAURANTS, PIZZA, CHICKEN WINGS",MARCO'S PIZZA,16,4.0,5981 ANDREWS RD,MENTOR-ON-THE-LAKE,OH,44060,41.708520,-81.359556

In [23]:
#myrdf['text'] = myrdf['text'].str.replace(',', ' ')

In [ ]:
myrdf.head()

In [13]:
mergedf = bdf.merge(myrdf, left_on='business_id', right_on='business_id', how='inner', suffixes=['_biz', '_rev'])

In [14]:
mergedf.head()

,Unnamed: 0,business_id,categories,name,review_count,stars,address,city,state,postal_code,latitude,longitude,text
0,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,My girlfriend and I went for dinner at Emerald...
1,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,We've always been there on a Sunday so we were...
2,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,***No automatic doors not baby friendly!*** I...
3,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,Horrible service \nI went there tonight with m...
4,1,QXAEGFB4oINsVuTFxEYKFQ,"SPECIALTY FOOD, RESTAURANTS, DIM SUM, IMPORTED...",EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,One of the gauges of a good Chinese restaurant...

In [15]:
mergedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4686091 entries, 0 to 4686090
Data columns (total 13 columns):
Unnamed: 0      int64
business_id     object
categories      object
name            object
review_count    int64
stars           float64
address         object
city            object
state           object
postal_code     object
latitude        float64
longitude       float64
text            object
dtypes: float64(3), int64(2), object(8)
memory usage: 500.5+ MB

In [17]:
mergedf.to_csv('biz_rev.csv')

In [18]:
nocommas = mergedf

In [19]:
nocommas['categories'] = nocommas['categories'].str.replace(',', ' ')

In [20]:
nocommas['text'] = nocommas['text'].str.replace(',', ' ')

In [21]:
nocommas.to_csv('biz_rev_nocommas.csv')

In [22]:
nocommas.head()

,Unnamed: 0,business_id,categories,name,review_count,stars,address,city,state,postal_code,latitude,longitude,text
0,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,My girlfriend and I went for dinner at Emerald...
1,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,We've always been there on a Sunday so we were...
2,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,***No automatic doors not baby friendly!*** I...
3,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,Horrible service \nI went there tonight with m...
4,1,QXAEGFB4oINsVuTFxEYKFQ,SPECIALTY FOOD RESTAURANTS DIM SUM IMPORTED...,EMERALD CHINESE RESTAURANT,128,2.5,30 EGLINTON AVENUE W,MISSISSAUGA,ON,L5R 3E7,43.605499,-79.652289,One of the gauges of a good Chinese restaurant...