In [4]:
import csv
import pandas as pd
import numpy as np

In [5]:
filename = 'DataSources/Current Certified Green Restaurants.csv'
df = pd.read_csv(filename, encoding = "ISO-8859-1", header = -1, na_filter = ' ')
df = df.rename(columns = {0: 'Name', 1: 'Address', 2: 'City', 3: 'State', 4: 'Zip', 5: 'PhoneNum', 6: 'website', 7: 'rating'})

In [7]:
df.head()
#df.dropna()

,Name,Address,City,State,Zip,PhoneNum,website,rating
0,Crown Cafe at Statue of Liberty,Liberty Island,New York,NY,10004,212-363-3180,www.thestatueofliberty.com,4 Star Certified Green Restaurant
1,Boloco,1080 Boylston St.,Boston,MA,2115,617-359-9087,www.boloco.com/,2 Star Certified Green Restaurant
2,Boloco,283 Longwood Ave.,Boston,MA,2115,617-232-2166,www.boloco.com/,2 Star Certified Green Restaurant
3,Boloco,133 Federal St.,Boston,MA,2110,617-357-9727,www.boloco.com/,2 Star Certified Green Restaurant
4,Boloco,35 South Main St.,Hanover,NH,3755,603-643-0202,www.boloco.com/,2 Star Certified Green Restaurant

In [8]:
#ny = df['State'] = df['State'].astype(str)
#df.dtypes

In [9]:
#df = df[~df['State'].contains('NY').contains('NJ').contains('CT')]
ny = df.loc[(df['State'] == 'NY')] 
nj = df.loc[(df['State'] == 'NJ')]
ct = df.loc[(df['State'] == 'CT')]

In [10]:
full = ny.append(nj, ignore_index = True)

In [11]:
full.head()

,Name,Address,City,State,Zip,PhoneNum,website,rating
0,Crown Cafe at Statue of Liberty,Liberty Island,New York,NY,10004,212-363-3180,www.thestatueofliberty.com,4 Star Certified Green Restaurant
1,Veselka,144 2nd Ave.,New York,NY,10003,212-228-9682,www.veselka.com,2 Star Certified Green Restaurant
2,The Dalton School,108 E 89th St.,New York,NY,10128,212-423-5200,http://www.dalton.org,3 Star Certified Green Restaurant
3,Aroma Thyme Bistro,165 Canal St.,Ellenville,NY,12428,845-647-3000,http://www.aromathymebistro.com/,3 Star Certified Green Restaurant
4,Horace Mann School,231 West 246th St.,Riverdale,NY,10471,718-432-4000,http://www.horacemann.org,2 Star Certified Green Restaurant

In [12]:
full = full.append(ct, ignore_index = True)

In [13]:
full.head()

,Name,Address,City,State,Zip,PhoneNum,website,rating
0,Crown Cafe at Statue of Liberty,Liberty Island,New York,NY,10004,212-363-3180,www.thestatueofliberty.com,4 Star Certified Green Restaurant
1,Veselka,144 2nd Ave.,New York,NY,10003,212-228-9682,www.veselka.com,2 Star Certified Green Restaurant
2,The Dalton School,108 E 89th St.,New York,NY,10128,212-423-5200,http://www.dalton.org,3 Star Certified Green Restaurant
3,Aroma Thyme Bistro,165 Canal St.,Ellenville,NY,12428,845-647-3000,http://www.aromathymebistro.com/,3 Star Certified Green Restaurant
4,Horace Mann School,231 West 246th St.,Riverdale,NY,10471,718-432-4000,http://www.horacemann.org,2 Star Certified Green Restaurant

In [18]:
full = full.drop(columns = ['PhoneNum'])

In [20]:
full['rating'] = full['rating'].str.extract('(\d+)')

In [21]:
full.head()

,Name,Address,City,State,Zip,website,rating
0,Crown Cafe at Statue of Liberty,Liberty Island,New York,NY,10004,www.thestatueofliberty.com,4
1,Veselka,144 2nd Ave.,New York,NY,10003,www.veselka.com,2
2,The Dalton School,108 E 89th St.,New York,NY,10128,http://www.dalton.org,3
3,Aroma Thyme Bistro,165 Canal St.,Ellenville,NY,12428,http://www.aromathymebistro.com/,3
4,Horace Mann School,231 West 246th St.,Riverdale,NY,10471,http://www.horacemann.org,2

In [25]:
full.Name = full.Name.str.strip()
full.Address = full.Address.str.strip()
full.City = full.City.str.strip()
full.State = full.State.str.strip()
full.Zip = full.Zip.str.strip()
full.website = full.website.str.strip()
full.rating = full.rating.str.strip()

In [26]:
full.to_csv('clean_green.csv')